
.header{
  height: 400px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-image: url("../../../../assets/back.jfif") !important;
}
.header-description{
  align-self: flex-start !important;
  padding-left: 20px !important;
  max-width: 500px !important;
  font-size: 30px !important;
  margin: 0 !important;
  color: white !important;
}
.header-description p{
  margin-top:100px !important;
  color: black !important;
  z-index: 1 !important;
  background-color: white !important;

}
.header >h1{
  color: white;
  font-size: 60px;
  display: flex;
  justify-content: center;
  background: rgba(255, 165, 0, 0.824);
  padding: 10px 50px;
  border-radius: 20px;
}

/*********************/

.heading h1{
  font-size: 36px;
  position: relative;
  display:inline-block;
}
.heading h1::after{
  position: absolute;
  bottom: -10px;
  content: " ";
  width:100px;
  background:black;
  height:2px;
  left: 8%;
  right: 0%;
  background: red;

}
.heading{
  margin-top: 40px ;
  padding-left: 20px;
  display: flex;
  justify-content: center;
  // flex-direction: column;
}
.banner{
 background: rgba(255, 165, 0, 1);
  color: white;
  height: 50px;
  font-size: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.banner a {
  color: white;
}
.banner span{
  // color: rgb(5, 31, 54);
}
.banner span:hover {
  // font-size: 25.02px;
  text-decoration: underline;
}

.sections{
  display: flex;
  justify-content: space-around;
  height: 93vh;
}
.sections .left-section{
  width: 20%;
  border: 1px solid rgb(176, 176, 176);
  border-top: none;
  border-left: none;
  border-bottom: none;
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background:  #03009C;

}

.left-section a > h3{
  padding-left: 40px;
  margin-top: 70px;
  color: black;
}

.right-section{
  width: 80%;
  display: flex;
  align-items: flex-start;
  padding-left: 30px;
  flex-direction: column;
  height: 100vh;
  overflow-y: scroll;
  overflow-x: hidden
}

.post-data {
  width: 100% !important;
  height: fit-content !important;
  display: flex !important;
  // flex-direction: column;
  padding: 30px !important;
  overflow-x: hidden !important;

}

.post-data button {
  width: 120px !important;
  align-self: center !important;
  border-radius: 8px !important;
  outline: none;
  border: 1px solid blue;
  /* background: red; */
  font-size: 18px;
  padding: 5px;
  color: blacke;
  font-weight: 600;
}

.post-data button:hover {
  border: 1px solid blue;
  color: white;
  background-color: blue;

}
.post-data img{
  object-fit: cover;
  width: fit-content;
  height: fit-content;
}
 img{
  object-fit:cover;
  max-width: 450px;
  max-height: 450px;
  min-width: 450px;
  min-height: 450px;
}

.post-details{
  padding: 40px !important;
  display: flex !important;
  width: 100% !important;
  // justify-content: space-between;
  // align-items: center;
  gap: 20px !important;
  font-weight: 700 !important;
  flex-direction: column !important;
}
.info{
  max-width: fit-content !important;
}
.details-heading p{
  color: darkgray !important;
  margin-left: 100px;
}
.details-heading{
  display: flex;
  justify-content: space-between;
}
ul{
  list-style: none;
  font:bold;
  padding-right: 5%;
  width: 100%;
  margin: 0;
  padding-right:20px;
}

ul li,a{
  color: rgb(255, 255, 255);
  text-decoration: none;
}
ul li{
  padding-top:25px;
}
a:hover{
  color: red;
}

a:active{
  color: red;
}

a[tabindex]:focus {
  color:red;
  outline: none;
}
.bottom-left-info ul{
  padding-left:20px;
}
.top-section{
  margin-top:50px;
}
h4{
  font-size: 20px;
}
h2{
  max-width: 500px !important;
}
