<body background="Tutlogo.png">
<section class="h-100 gradient-form" style="background-color: #eee;">
    <div class="container py-5 h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-xl-10">
          <div class="card rounded-3 text-black">
            <div class="row g-0">
              <div class="col-lg-6">
                <div class="card-body p-md-5 mx-md-4">
  
                  <div class="text-center">
                    <img src="/assets/Tutlogo.png"
                      style="width: 185px;" alt="logo">
                    <h4 class="mt-1 mb-5 pb-1">Alumni Registration </h4>
                  </div>
  
                  <form>
                    <p class="text-center">Create your account</p>
  
                    <div class="form-outline mb-4">
                        <label for="firstname">First Name</label>
                      <input type="text" name="firstname" id="fname" class="form-control"
                        placeholder="firstname" />
                    </div>

                    <div class="form-outline mb-4">
                        <label for="lastname">Last Name</label>
                      <input type="text" name="lastname" id="lastname" class="form-control"
                        placeholder="lastname"  />
                      
                    </div>

                    <div class="form-outline mb-4">
                        <label for="email">Email</label>
                      <input type="email" name="email" id="email" class="form-control"
                        placeholder="Email" />
                    </div>

                    <div class="form-outline mb-4">
                        <label for="faculty">Faculty</label>
                        <select name="faculty" id="faculty" class="form-control">
                          <option selected>Select</option>
                          <option>Ict</option>
                          <option>Engineering</option>
                          <option>Computer Systems</option>
                        </select>
                      </div>

                   
                    <div class="form-outline mb-4">
                        <label for="password">Password</label>
                      <input type="password" name="password " id="password" class="form-control" />
                      
                    </div>
                    <div class="form-outline mb-4">
                        <label for="confirmpassword">Confirm Password</label>
                      <input type="password" name="confirmpassword" id="cpassword" class="form-control" />
                      
                    </div>
                    


  
                    <div class="text-center pt-1 mb-5 pb-1">
                      <button class="btn btn-primary btn-block fa-lg  mb-3" type="button">Log
                        in</button><br>
                      
                      <a class="text-muted" href="#!">Already have an account? Login</a>
                    </div>
  
                    
  
                  </form>
  
                </div>
              </div>
              <div class="col-lg-6 d-flex align-items-center gradient-custom-2">
                <img src="/assets/gradu.jpg"
                      style="width: 500px; height: 900px;" alt="logo">
                      
                
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</body>